.custom-radio {
  margin-bottom: 10px;
  flex-shrink: 0;
}

.custom-radio input[type="radio"] {
  display: none; /* Скрываем стандартный radio button */
}

.custom-radio label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-btn {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  transition: border-color 0.3s ease;
}

.radio-btn::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease;
}

.custom-radio input[type="radio"]:checked + .radio-btn {
  border-color: var(--primary);
}

.custom-radio input[type="radio"]:checked + .radio-btn::after {
  transform: translate(-50%, -50%) scale(1);
}

.custom-checkbox {
  margin-bottom: 10px;
}

.custom-checkbox input[type="checkbox"] {
  display: none; /* Скрываем стандартный чекбокс */
}

.custom-checkbox label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.checkmark::after {
  content: "";
  display: block;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -3px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
  background-color: var(--primary);
  border-color: var(--primary);
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
  opacity: 1;
}

.loader {
  width: 30px;
  height: 30px;
  border: 3px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.check_icon {
  display: block;
  width: 12px;
  height: 24px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg) translateY(-50%);
  margin-bottom: -7px;
  opacity: 1;
  transition: opacity 0.3s ease;
}
